.mainbox{
	background-color: coral;
	width: 800px;
	margin: 0px auto;
}

.menu{
	background-color: brown;
	height: 80px;
 
}

.leftside{
	background-color: darkgreen;
	width: 100px;
	height: 595px;
	float: left
}

.main{
	background-color: darkkhaki;
	width: 600px;
	height: 595px;
	float: left;
	position: relative;
}

.rightside{
	background-color: aliceblue;
	width: 100px;
	height: 595px;
	float: left;
	position: relative;
}

.footer{
	background-color: cadetblue
}

.menu{
	height: 34px;
	text-align: center;
}

.menu>ul>li{
	display: inline;
	padding: 10px 10px 10px 10px;
	background-color: darkgreen;
	position: relative;
	top: 8px;
	font-family: Tahoma, serif;
	font-size: 12px;
}

.menu>ul>li>a{
	text-decoration: none;
	color: #000;
}

body{
	height: 100%;
	width: 100%;
}

.video{
	position: absolute;
	left: 50px;
	top: 125px;
	right: 150px;
	bottom: 150px;
	width: 200px;
	height: 200px;
}

.gallery{
	margin-left: 60px;
	margin-bottom: 12.5px;
	margin-top: 5px;
	display: inline-block;
	margin: 2;
}

.leftside1{
	background-color: #99fffc;
	width: 100px;
	height: 4200px;
	float: left;
	position: relative;	
}

.main1{
	background-color: #33ff66;
	width: 600px;
	height: 4200px;
	float: left;
	position: relative;
}

.rightside1{
	background-color: #00ffff;
	width: 100px;
	height: 4200px;
	float: left;
	position: relative;
}

.string{
	line-height: 1.75;
}

.saite{
	text-align: center;
}

.reference{
	line-height: 2
}

.rightside2{
	position: absolute;
	right: 0px;
}

.choisen{
	line-height: 2
}

.form{
	margin: 0 auto;
	position: absolute;
	left: 135px;
	top: 20px;
}

.submit{
	position: absolute;
	left: 135px;
}

.googlemaps{
	position: absolute;
	left: 55px;
	top: 150px;
}

@media screen and (max-width: 480px) {
	.leftside1{
		width: 10px;
	}
}